<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SpeechAppTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C3D681B71DB02BB7005C07D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C3D681CB1DB02BB8005C07D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C3D681D61DB02BB8005C07D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
